*.exe
*.pdb
*.obj
*.o
*.so
.vs/
.vscode/
__pycache__/
*/protobufs/*
!*/protobufs/.gitkeep

build/
CMakeFiles/
CMakeCache.txt
CMakeSettings.json

vcpkg_installed/
vcpkg-configuration.json

rust/target/*
rust/src/protobufs/*
!rust/src/protobufs/mod.rs